/* Gaph Section */
.graphChart {
  height: 288px;
  background: #ffffff;
  border-radius: 22px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.chartLabel {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: rgba(0, 0, 0, 0.7);
  margin-left: 31px;
  /* padding: 10px; */
}

@media screen and (max-width: 1205px) {
  .chartLabel {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;

    color: rgba(0, 0, 0, 0.7);
    margin-left: 31px;
    /* padding: 10px; */
  }
}

@media screen and (max-width: 1120px) {
  .chartLabel {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;

    color: rgba(0, 0, 0, 0.7);
    margin-left: 31px;
    /* padding: 10px; */
  }
}

@media screen and (max-width: 894px) {
  .chartLabel {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 33px;

    color: rgba(0, 0, 0, 0.7);
    margin-left: 31px;
    /* padding: 10px; */
  }
}
