/* * {
  box-sizing: border-box;
} */

.cardSection {
  order: 2;
  width: 79%;
  display: flex;
  flex-direction: column;
  margin-left: 62px;
}

.detailsCardSection {
  display: flex;
  flex-direction: row;
}

.chartCardSection {
  order: 2;
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}

.graphTableSection {
  order: 1;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.circleGraphSection {
  order: 2;
  width: 35%;
}

.graphSection {
  order: 1;
}

.tableSection {
  order: 2;
}
