/* Pie Chart Section  */
.pieChartSection {
  height: auto;
  background: #ffffff;
  border-radius: 22px;
  padding: 15px;
  margin-left: 47px;
  display: flex;
  flex-direction: column;
}

.pieChartLabel {
  order: 1;
  margin-bottom: 30px;
}

.pieChart {
  order: 2;
  margin-bottom: 30px;
}

.pieChartTable {
  order: 3;
  margin-bottom: 20px;
  height: 371px;
}

.tablerow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  padding-top: 6px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
}

.rowPointer {
  order: 1;
  width: 14%;
  display: flex;
}

.rowText {
  order: 2;
  width: 66%;
}

.rowPercentage {
  order: 3;
  width: 20%;
}

.pieChartLabelStyle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #000000;
}

.pieChart {
  display: flex;
  margin-bottom: 10px;
}

.pointerSize {
  color: #542b14;
  font-size: 17px;
}

.rowTextStyle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #000000;
}

.rowPercentageStyle {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #000000;
}

.chart {
  color: #a54812;
}
