.cardDataSection {
  order: 2;
  width: 79%;
  display: flex;
  flex-direction: row;
  margin-left: 62px;
}

.detailsSection {
  order: 1;
  width: 75%;
  display: flex;
}

.productsViewSection {
  order: 2;
  width: 25%;
}

.detailCard {
  width: 100%;
  height: 510px;
  background: #ffffff;
  border-radius: 22px;
  padding: 15px;
  padding-top: 30px;
}
