/* Sidebar */
.sidebarBar {
  position: relative;
  background: #ffffff;
  border-radius: 22px;
}

.sidebarLink {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.sideList {
  /* margin-top: 40px; */
  height: 510px;
  margin-top: 20px;
  margin-bottom: 27px;
  margin-left: 15px;
}

.lineSection {
  display: flex;
  flex-direction: row;
  height: 42px;
  align-items: center;
  padding-left: 10px;
  padding-right: 15px;
  margin-top: 9px;
  cursor: pointer;
}

.lineSectionActive {
  display: flex;
  flex-direction: row;
  height: 42px;
  align-items: center;
  padding-left: 10px;
  padding-right: 15px;
  margin-top: 9px;
  cursor: pointer;
  background-color: #542b14;
  width: 87%;
  color: #f7f7f7;
  border-radius: 22px;
  cursor: pointer;
}

.lineIcon {
  order: 1;
  margin-right: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.lineText {
  order: 2;
}

.lineSection:hover {
  background-color: #542b14d3;
  width: 87%;
  color: #f7f7f7;
  border-radius: 22px;
  cursor: pointer;
}

.lineSection:hover > .lineIcon > .iconWidth {
  color: #f7f7f7;
}
.lineSection:hover > .lineText > .lineTextStyle {
  color: #f7f7f7;
  font-size: 19px;
}

.lineSectionActive > .lineIcon > .iconWidth {
  color: #f7f7f7;
}
.lineSectionActive > .lineText > .lineTextStyle {
  color: #f7f7f7;
  font-size: 19px;
}

/* .material-icons.iconWidth {
  font-size: 24px;
  color: #542b14;
  padding: 4px;
} */
.iconWidth {
  font-size: 24px;
  color: #542b14;
  padding: 4px;
}

.lineTextStyle {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 33px;
  color: #000000;
}

/* .marginBbttom {
  margin-bottom: 23px;
} */

@media screen and (max-width: 1120px) {
  .lineText {
    display: none;
  }
  .lineSectionActive {
    display: flex;
    flex-direction: row;
    height: 42px;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
    margin-top: 9px;
    cursor: pointer;
    background-color: #542b14;
    width: 43%;
    color: #f7f7f7;
    border-radius: 22px;
    cursor: pointer;
  }

  .lineSection:hover {
    background-color: #542b14d3;
    width: 43%;
    color: #f7f7f7;
    border-radius: 22px;
    cursor: pointer;
  }

  .sideList {
    /* margin-top: 40px; */
    height: 510px;
    margin-top: 20px;
    margin-bottom: 27px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 822px) {
  /* table Section */

  .lineIcon {
    order: 1;
    margin-right: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .lineSectionActive {
    display: flex;
    flex-direction: row;
    height: 42px;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
    margin-top: 9px;
    cursor: pointer;
    background-color: #542b14;
    width: 43%;
    color: #f7f7f7;
    border-radius: 22px;
    cursor: pointer;
  }

  .sideList {
    /* margin-top: 40px; */
    height: 510px;
    margin-top: 20px;
    margin-bottom: 27px;
    margin-left: 7px;
  }
}
