/* table Section */

.table {
  /* height: 288px; */
  background: #ffffff;
  border-radius: 22px;
  padding: 15px;
  margin-top: 28px;
}

.tableTitleStyle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
  margin-left: 31px;
}

.tableShow {
  width: 100%;
  margin-top: 15px;
}

table {
  width: 100%;
  margin-bottom: 16px;
  background-color: transparent;
  border-collapse: collapse;
}

thead {
  display: flexbox;
}

th {
  text-align: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.86);
  padding: 12px 8px;
  vertical-align: middle;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  /* width: 15%; */
}

th a {
  text-decoration: none;
}
td {
  padding: 9px 11px;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.76);

  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
}

.tableTitleProductStyle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
  margin-left: 8px;
}

.moreInfo {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.76);
  cursor: pointer;
}

.tablePagination {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 40px;
  float: right;
}

.paginationLink {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.paginationArrowIcon {
  color: #542b14;
  font-size: 27px;
}

.paginationCircleIcon {
  color: #b89068;
  font-size: 17px;
}
.paginationCircleIcon.active {
  color: #542b14;
  font-size: 17px;
}

.rateStar {
  font-size: 22px;
}

.linkStyle {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.86);
  font-weight: 800;
  align-items: center;
  display: inline-flex;
}

.addIconStyle {
  margin-left: 13px;
}

.header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.linkStylePostion {
  position: relative;
}

.linkStyle:hover .tooltip {
  visibility: visible;
}

.linkStyle .tooltip {
  visibility: hidden;
  width: 150px;
  background-color: #be622e;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border-radius: 22px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 135%;
  left: 63%;
  margin-left: -60px;
}

.linkStyle .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #be622e transparent transparent transparent;
}

.statusStyle {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  border-radius: 22px;
  height: 1px;
  padding: 3px 8px;
}

.statusColorNotCompleted {
  background-color: #be2e2e;
}
.statusColorCompleted {
  background-color: #2ebe72;
}
