/* Sidebar */
.sidebarBar {
  position: relative;
  /* display: flex; */
  /* width: 249px; */
  /* height: 420px; */
  background: #ffffff;
  border-radius: 22px;
}

.sideList {
  /* display: flex; */
  /* position: relative; */
  /* margin: 10p; */
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
}

.lineSection {
  display: flex;
  flex-direction: row;
  height: 42px;
  /* justify-content: end; */
  align-items: center;
  /* padding: 0 4px 0 4px; */
  padding-left: 10px;
  padding-right: 15px;
  margin-top: 9px;
}

.lineIcon {
  order: 1;
  margin-right: 12px;
  /* padding: 7px; */
  padding-bottom: 10px;
  padding-top: 10px;
}

.lineText {
  order: 2;
}

.lineSection:hover {
  background-color: #542b14;
  width: 80%;
  color: #f7f7f7;
  border-radius: 22px;
}

.lineSection:hover > .lineIcon > .material-icons.iconWidth {
  color: #f7f7f7;
}
.lineSection:hover > .lineText > .lineTextStyle {
  color: #f7f7f7;
}

.material-icons.iconWidth {
  font-size: 24px;
  color: #542b14;
  padding: 4px;
}

.lineTextStyle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  color: #000000;
}

.lineSection.margin-bottom {
  margin-bottom: 23px;
}
