  Nav {
    color: #fff;    
  }
  .subnav{
    height: 50px;
  }  
  .Productimage{
    width: 400px;    
    border-radius: 20px;
  }
  .btn {
    background-color: #cac1c1;
    justify-content: left;
    justify-items: left;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    margin-left: 0px;    
  }
  .btn:hover {
    background-color: #fc7a30;
    color: #fff;
  }
  
  .footer {
    background-color: blue;
    width: 100%;
  }
  
  @media screen and (max-width: 798px) {
    .btn {
      display: block;
      margin-top: 10px;
      justify-items: left;
      justify-content: left;
      margin-left: 0px;
    }
    .subnav{
      height: 60px;
    }
    .Productimage{
      width: 300px;    
    }
  }
  
  @media screen and (max-width: 400px) {
    .btn {
      display: block;
      margin-top: 10px;
      justify-items: left;
      justify-content: left;
      margin-left: 0px;
    }
    .subnav{
      height: 60px;
    }
    .Productimage{
      width: 300px;    
    }
  }
  