  Nav {
    color: #fff;    
  }
  .subnav{
    height: 50px;
  }  
  .Productimage{
    width: 450px;    
    border-radius: 20px;    
  }

  .formPageBox{
    margin-left: 50px;
  }

  .btn {
    background-color: #cac1c1;
    justify-content: left;
    justify-items: left;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin-left: 0px;    
  }
  .btn:hover {
    background-color: #fc7a30;
    color: #fff;
  }

  .paybtn {
    background-color: #28a745 ;
    color: white;
    font-size: 14px;
    justify-content: left;
    justify-items: left;        
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    margin-left: 0px;     
  }
  
  .paybtn:hover {
    background: #208f4e;
    transition: 0.5s;
  }

  .footer {
    background-color: blue;
    width: 100%;
  }
  
  .gridContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;    
    padding: 10px;
  }

  .formPageBox{
    margin-left: 80px ;
  }

  @media screen and (max-width: 798px) {
    .btn {
      display: block;
      margin-top: 10px;
      justify-items: left;
      justify-content: left;
      margin-left: 0px;
    }
    .subnav{
      height: 60px;
    }
    .Productimage{
      width: 300px;    
    }
    .gridContainer{
      display: grid;
      grid-template-columns: auto;    
      padding: 10px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .btn {
      display: block;
      margin-top: 10px;
      justify-items: left;
      justify-content: left;
      margin-left: 0px;
    }
    .subnav{
      height: 60px;
    }
    .Productimage{
      width: 300px;    
    }
    .gridContainer{
      display: grid;
      grid-template-columns: auto;    
      padding: 10px;
    }
    .formPageBox{
      margin-left: 5px;      
    }
  }
  