<<<<<<< HEAD
body{
    margin-right: -50px;
}
=======
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: inherit;
}

body {
  background: #eeeff5 !important;
}
>>>>>>> dashboard
