Nav{
    color: #FFF;
    font-weight: bold;        
  }
  .btn{  
    background-color: #CAC1C1;
    justify-content: left;
    justify-items: left;    
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;      
    margin-left: 0px;      
  }
  .btn:hover{
    background-color: #FC7A30;
    color: #FFF;
  }
  
  .footer{
    background-color: blue;
    width: 100%;
  }

  @media screen and (max-width: 798px) {
    .btn{
      display: block;
      margin-top: 10px;
      justify-items: left;
      justify-content: left;  
      margin-left: 0px;    
    }
  }
  
  @media screen and (max-width: 400px) {
    .btn{
      display: block;
      margin-top: 10px;
      justify-items: left;
      justify-content: left;    
      margin-left: 0px;    
    }    
  }
  
  
  
  
  
    
  